body {
  font-family: 'Segoe UI', sans-serif;
  background-color: wheat;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10 slategrey;
}

h1 {
  text-align: center;
  color: saddlebrown;
}

.input-group {
  display: flex;
  gap: 10px;
}

#taskInput {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
}

#addTaskBtn {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

#addTaskBtn:hover {
  background-color: seagreen;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: whitesmoke;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

li.completed {
  text-decoration: line-through;
  background-color: floralwhite;
}

button.delete-btn {
  background-color: hotpink;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button.delete-btn:hover {
  background-color: red;
}

select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid honeydew;
}